@font-face {
	font-family: "Contemporary";
	font-style: normal;
	font-weight: 400;
	src: local("Contemporary"), local("Contemporary-Regular"),
		url("https://vicr123.com/typeface/Contemporary-Regular.ttf");
}

@import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');

@keyframes blur-in {
    from {
        backdrop-filter: blur(0px);
    }
    to {
        backdrop-filter: blur(20px);
    }
}

:root {
	--bg-color: rgb(40, 40, 40);
	--bg-color-faded: rgba(40, 40, 40, 0.75);
	--fg-color: white;

	--sidebar-bg-color: rgb(60, 60, 60);
	--sidebar-hv-color: rgb(0, 150, 255);
}

div.placeholderComponent {
	background-color: red;
	padding: 3px;
	display: block;
	border: 1px dashed yellow;
}

body {
	margin: 0px;
	background-color: var(--bg-color);
	color: var(--fg-color);

	font-family: Contemporary;
}

h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: normal;
    background: var(--fg-color);
    color: var(--bg-color);
    font-family: 'Carter One';
    padding: 3px;
}

.padded {
	padding: 9px;
}

/* Scrollable boxes */
.scrollable {
	overflow: auto;
}

div.appContainer {
	display: flex;
	height: 100vh;
}

div.sidebar {
	width: 250px;
	min-width: 250px;
	display: flex;
	flex-direction: column;
	border-right: 1px solid var(--fg-color);
	background-color: var(--sidebar-bg-color);
}

div.listItem {
	padding: 9px;
	cursor: pointer;
}

div.sidebar div.listItem:hover {
	background-color: var(--sidebar-hv-color);
}

div.sidebar div.listItem.selected {
	background-color: var(--sidebar-hv-color);
}

div.postbar {
	width: 250px;
	min-width: 250px;
	display: flex;
	flex-direction: column;
	border-right: 1px solid var(--fg-color);
	background-color: var(--sidebar-bg-color);
}

div.postbar div.listItem:hover {
	background-color: var(--sidebar-hv-color);
}

div.postbar div.listItem.selected {
	background-color: var(--sidebar-hv-color);
}

.logo {
	width: 75%;
	display: block;
	margin-left: 15%;
	margin-right: 0%;
}

.logo:hover {
	animation: bounce 1s;
}

div.loaderContainer {
    position: fixed;
    width: 0px;
    height: 0px;
}

div.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    
    background-color: rgba(0, 0, 0, 0.5);
}

@keyframes bounce {
	0%,
	20%,
	60%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

/* BELOW IS COPIED FROM about.css. THEY LIVE HERE NOW */

.HorizontalBox {
	display: flex;
	flex-direction: row;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.VerticalBox {
	display: flex;
	flex-direction: column;
}

.EmojiBox {
	flex-wrap: wrap;
    height: 0px;
    position: relative;
    border: none;
    
    opacity: 0;
    transition: opacity 0.5s;
}

.SmallEmojiBox {
	flex-wrap: wrap;
    height: 0px;
    position: relative;
    border: none;
    
    opacity: 1;
    transition: opacity 0.5s;
}

.SmallEmojiBoxInner {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 25px;
    border: none;
    padding: 2px;
    margin: 5px;
    align-items: center;
}

.SmallEmojiBoxInner span {
    margin: 3px;
}

div.postImageContainer:hover .EmojiBox {
    opacity: 1;
}

div.postImageContainer:hover .SmallEmojiBox {
    opacity: 0;
}

.emojiButton {
	background-color: rgba(0, 0, 0, 0.6);
}
.ContactUs button {
	/*border-radius: 15px;*/
	padding: 50px;
}

/* BELOW IS COPIED FROM Login.css. THEY LIVE HERE NOW */

div.logIn {
    padding: 9px;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	width: 500px;
	min-width: 300px;
}

div.modalBox div.logIn {
    width: 100%;
    padding: 0px;
}

div.AccountsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

div.AccountsContainerFiller {
    background: url(/background/login.jpg) center center/cover;
    flex-grow: 1;
}

input[type="text"],
input[type="password"] {
	padding: 12px 20px;
	margin: 3px;
	display: inline-block;
}

button {
	color: white;
	background-color: rgb(60, 60, 60);
	padding: 12px 20px;
	margin: 3px;
	border-color: rgb(0, 150, 255);
	border-style: solid;
	border-width: 1px;
	text-align: center;
	font-family: Contemporary;
	font-size: 16px;
}

button:hover {
	background-color: rgb(0, 150, 255);
}

button.selected {
	background-color: rgb(0, 150, 255);
}

button.closeButton {
    background: transparent;
	border-color: rgb(200, 0, 0);
    
    position: fixed;
    left: 12px;
    top: 12px;
    width: 64px;
    height: 64px;
}

button.closeButton:hover {
	background-color: rgb(200, 0, 0);
}

.postContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.moreSpace {
	margin: 0 auto;
}

.list {
	border: 1px solid white; 
}

.postImage {
	width: 100%;
}

#modalContainer {
    position: fixed;
    top: 0px;
    width: 0px;
    height: 0px;
}

html[dir="LTR"] #modalContainer {
    left: 0px;
}

html[dir="RTL"] #modalContainer {
    right: 0px;
}

div.modalBackground {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    
    display: flex;
    justify-content: flex-end;
    
    background-color: var(--bg-color-faded);
    backdrop-filter: blur(20px);
    animation: 0.5s blur-in;
}

div.loader {
    backdrop-filter: blur(20px);
}

div.modalBox {
	padding: 9px;
    height: 100%;
    background-color: var(--bg-color);
    max-width: calc(100vw - 100px);
}

html div.modalBox {
    border-left: 1px solid var(--fg-color);
}

.postListItems {
	height: 20vh;
    min-height: 20vh;
}

.postListEnd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 9px;
    text-align: center;
    
    user-select: none;
}

.postListEnd img {
    width: 75%;
    padding-bottom: 9px;
}

.returnToPostListButton {
    display: none;
}

.deleteButton {
	color: white;
	background-color: rgb(60, 60, 60);
	padding: 12px 20px;
	margin: 3px;
	border-color: rgb(255, 0, 0);
	border-style: solid;
	border-width: 1px;
	text-align: center;
	font-family: Contemporary;
	font-size: 16px;
}

.deleteButton:hover {
	background-color: rgb(255, 0, 0);
}

.error {
    color: rgb(255, 50, 50);
}

/* Media queries for smaller windows */
@media (max-width: 900px) {
    div.sidebar {
        width: 32px;
        min-width: 32px;
    }
    
    span.sidebarText {
        display: none;
    }
    
    .mobileHide {
        display: none !important;
    }
    
    div.postbar {
        flex-grow: 1;
    }
    
    .returnToPostListButton {
        display: block;
    }
}

/* Leaderboard Styling */

.LBBox:first-child {
	margin-top: 0px;
	border: 2px solid gold; 
}

.LBBox:nth-child(2) {
	border: 2px solid silver;
}

.LBBox:nth-child(3) {
	border: 2px solid #ff8800;
}

.LBBox:last-child {
	margin-bottom: 0px;
}

.LBBox {
	background-color: #3c3c3c;
	border-radius: 3px;
	padding: 1.5em;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
	font-size: 1.5em;

}

.LBBox:hover {
	color: var(--sidebar-hv-color);
}

.LBBoxContainer {
	flex-grow: 1;
}

.tooltip {
	display: none;
	height: 0px;
	width: 0px;
	position: relative;
	top: -30px;
}

.tooltipText {
	background-color: var(--bg-color);
	border: 1px solid var(--fg-color);
	
    white-space: nowrap;
	width: fit-content;
	padding: 3px;
}

.tooltipContainer:hover .tooltip {
	display: block;
}